global
    log stdout format raw local0

resolvers docker
    nameserver dns 127.0.0.11:53

frontend prometheus
  bind :8405
  mode http
  http-request use-service prometheus-exporter
  no log

defaults
    mode http
    option httplog
    option dontlognull
    option redispatch
    retries 3
    timeout connect     5s
    timeout client      30s
    timeout server      30s
    timeout tunnel      1h
    timeout client-fin 30s

frontend flipt_front
    bind *:8080 
        # Detect SSE requests by Accept header
    acl is_sse hdr(Accept) -i text/event-stream
    use_backend flipt_sse_backend if is_sse
    default_backend flipt_backend

backend flipt_sse_backend
    http-check expect status 200
    option httpchk GET /health
    cookie FLIPT insert indirect nocache
    server-template flipt 2 flipt:8080 check inter 5s rise 2 fall 3 resolvers docker resolve-prefer ipv4 init-addr none
    # Disable buffering for SSE responses
    option http-server-close
    timeout tunnel 1h        # Allow long-lived connections
    timeout connect 5s
    timeout server 1h        # Keep server connection open
    timeout client 1h        # Keep client connection open


backend flipt_backend
    balance roundrobin
    stick-table type ip size 200k expire 30m
    stick on src
    http-check expect status 200
    option httpchk GET /health
    cookie FLIPT insert indirect nocache
    server-template flipt 2 flipt:8080 check inter 5s rise 2 fall 3 resolvers docker resolve-prefer ipv4 init-addr none
